. /***** NAVBAR *****/
.navbar-default {
    background-color: #863ee3;
    border-radius: 0;
    background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #ffa500;
    font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
    color: white;
    height: 5%;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
    background-color: white;
    color: #242424;
}


/*** Portfolio pieces ***/
.portfolio-thumbnail {
    background-color: #fff;
    border-color: #67818a;
    border-width: 2px;
    width: 100%;
}

.portfolio-thumbnail:hover {
    border-color: #ffa500;
}

.portfolio-title {
    font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

.img_wrap {
    position: relative;

}

.img_description {
    position: absolute;
    height: 30px;
    top: 272px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;

    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
    visibility: visible;
    opacity: .8;
}

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}

.resume h5 {
    color: #ffa500;
}

hr {
    border-color: #ffa500;
    border-width: 2px;
    opacity: .5;
}

p {
    font-size: 20px;
}

a {
    color: #67818a;
}

a:hover {
    color: #ebd122;
}

.jumbotron {
    background-color: #9bc2cf;
    /*background-image: url("../assets/contour-lines.png");*/
    text-align: center;
    color: #fff;
    padding: 2%;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    padding-top: 50px;
    font-family: 'Verdana', serif;
    background-color: #eef7fa;
    color: #242424;
}

#map {
    height: 100%;
    width: 100%;
    display: inline-block;
}

#map_container {
    position: absolute;
    height: 93%;
    width: 100%;
}

.legend-control-container {
    width: 140px;
    height: 100px;
    background-color: azure;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    border: solid gray 2px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#info_text {
    width: 100%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 20px;
    background-color: azure
}